img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
}

ul {
    list-style-type:none;  
    padding: 0;             
}

li {
    font-size: 25px;       
    margin-bottom: 10px;    
    line-height: 1.5;    
}
p {
    font-size: 25px;
}